.footer--contacts {
  @media (max-width: 48em) {
    position: static;
    padding: 0;
  }
  .footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 0.1rem solid #fff;
    padding: 3.2rem 0 6.4rem;
    gap: 11.6rem;
    @media (max-width: 48em) {
      flex-direction: column;
      padding: 8rem 0;
      gap: 8rem;
      align-items: flex-start;
      border-top: 1px solid #7e8582;
    }

    &.desktop {
      display: flex;
      @media (max-width: 48em) {
        display: none;
      }
    }
  }
  .footer__logo {
    width: 15.8rem;
    height: 3.8rem;
    flex: none;

    img {
      object-fit: contain;
    }

    @media (max-width: 48em) {
      width: 27.4rem;
      height: 7.6rem;
    }
  }
  .footer__info {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    color: #7e8582;
    white-space: nowrap;
    @media (max-width: 48em) {
      flex-direction: column;
      align-items: flex-start;
      gap: 1.6rem;
    }
  }
  .footer__info-item-wrapper {
    display: flex;
    flex-direction: column;
    @media (max-width: 48em) {
      gap: 1.6rem;
      &:nth-child(1) {
        order: 3;
        padding-top: 4.8rem;
      }
      &:nth-child(5) {
        order: 4;
        padding-top: 4.8rem;
      }
    }
  }
  .footer__info-item {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 218%;
    @media (max-width: 48em) {
      font-weight: 400;
      font-size: 2.6rem;
      line-height: 185%;
      color: #7e8582;
    }
    &:nth-child(6) {
      order: 5;
    }
  }
  .footer__apps {
    display: flex;
    gap: 1.2rem;
    @media (max-width: 48em) {
      gap: 2.4rem;
      flex-direction: column;
    }
  }
  .footer__app {
    width: 11.9rem;
    height: 3.7rem;

    img {
      object-fit: cover;
    }
    @media (max-width: 48em) {
      width: 24rem;
      height: 7.2rem;
    }
  }
}
