.adv-card__draft {

    .adv-card__details{
        @media (max-width: 48em) {
            margin-bottom: 8rem;
        } 
    }

    .adv-card__content{
        @media (max-width: 48em) {
            gap: 8rem;
        } 
    }

    .adv-card__number--mobile{
        margin-top: 0;
    }

    .adv-card__slider{
        height: unset;
    }

    .swiper-thumbnail {
        display: none;
    }

}
