.adv-card--seller-adv{
    .adv-card__number--bottom{
        margin-top: 8rem;
        margin-bottom: 4.8rem;
    }

    .adv-card__contact__buttons{
        @media (max-width: 48em) {
            justify-content: space-between;
        }
    }
}