.adv-card--on-check {
    .adv-card__header {
        margin-bottom: 10rem;
    }

    .adv-card__contact__phone {
        margin-bottom: 0;
    }

    .container {
        position: relative;
    }

    .pop-up {
        transition: right 0.5s ease-in-out;
        bottom: 4rem;
        right: -100rem;
        z-index: 100;
        
        &.showed {
            bottom: 4rem;
            right: 7rem;
        }

        @media (max-width: 48em) {
            transition: bottom 0.5s ease-in-out;
            bottom: auto;
            right: 0;

            &.showed {
                right: 0;
                bottom: auto;
                top: 0%;
            }
        }
    }
}
