.chat {
    &__content {
        display: flex;
        gap: 2rem;
        height: 62.5rem;
    }

    &__dialog,
    &__dialogs {
        background-color: #fff;
        border-radius: 1.6rem;
        padding: 4rem 3.2rem 0;
        overflow: hidden;
    }

    &__dialogs {
        width: 44rem;

        &__title {
            font-size: 3.2rem;
            font-weight: 600;
            line-height: 112.5%;
            margin-bottom: 3.2rem;
        }

        &__support {
            background-color: #f5fbf6;
            margin-bottom: 2.4rem;

            .chat__dialogs__photo {
                width: 4rem;
                height: 4rem;

                svg {
                    width: 4rem;
                    height: 4rem;
                }
            }

            .chat__dialogs__details {
                justify-content: center;
            }

            .btn--go-to {
                width: 2.4rem;
                height: 2.4rem;

                svg {
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }
        }

        &__list {
            max-height: 43rem;
            overflow: auto;
            margin-right: -1.6rem;
            padding-right: 1.6rem;

            &::-webkit-scrollbar {
                width: 0.4rem;
                background: #fff;
            }

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: #fff;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 1.2rem;
                background: #7e8582;
            }
        }

        &__item {
            transition: background-color 0.2s ease, color 0.2s ease;
            padding: 1.2rem;
            border-radius: 0.8rem;
            display: flex;
            gap: 1.2rem;
            cursor: pointer;

            &:hover {
                background-color: #298267;
                color: #fff;

                svg {
                    path {
                        stroke: #fff;
                    }
                }

                .chat__dialogs__message,
                .chat__dialogs__time {
                    color: #fff;
                }

                .chat__dialogs__unread-messages {
                    background-color: #fff;
                    color: #298267;
                }
            }
        }

        // .dialogs__photo

        &__photo {
            width: 6.4rem;
            height: 4.8rem;
            border-radius: 0.3299rem;
            overflow: hidden;
            flex-shrink: 0;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        // .dialogs__data

        &__data {
            width: 22.6rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        // .dialogs__product

        &__product {
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 150%;
        }

        // .dialogs__message

        &__message {
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 123.077%;
            color: #7e8582;
            font-size: 1.3rem;
        }

        // .dialogs__details

        &__details {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 0.4rem;
            margin-left: auto;
        }

        // .dialogs__time

        &__time {
            color: #7e8582;
            font-size: 1.3rem;
            line-height: 123.077%;
        }

        // .dialogs__unread-messages

        &__unread-messages {
            border-radius: 2rem;
            background-color: #298267;
            padding: 0 1rem;
            color: #fff;
            line-height: 150%;
            font-size: 1.6rem;
        }
    }

    &__dialog {
        width: 90rem;
        display: flex;
        flex-direction: column;

        &__header {
            display: flex;
            gap: 1.2rem;
            padding-bottom: 1.6rem;
            background-color: #fff;
        }

        &__photo {
            width: 6.4rem;
            height: 4.8rem;
            border-radius: 0.3299rem;
            overflow: hidden;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        &__data {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__product {
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 150%;
        }

        &__name {
            overflow: hidden;
            text-overflow: ellipsis;
            color: #7e8582;
            font-size: 1.3rem;
            line-height: 123.077%;
        }

        &__messages {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 44.9rem;
            overflow: auto;
            margin-top: auto; 

            .message--incoming {
                background-color: #f1f3f3;
                align-self: flex-start;
            }

            .message--outgoing {
                background-color: #298267;
                color: #fff;
                align-self: flex-end;
            }
        }

        &__message {
            border-radius: 2rem;
            padding: 1.2rem 2rem;
            display: flex;
            gap: 1.2rem;
            align-items: flex-end;
            max-width: 51.2rem;
            font-size: 1.6rem;
            line-height: 150%;
            margin-bottom: 1.6rem;

            .message-time {
                opacity: 0.4;
                font-size: 1rem;
                line-height: 120%;
            }
        }

        &__date {
            margin-bottom: 2.4rem;
            line-height: 150%;
            font-weight: 600;
            font-size: 1.6rem;
            margin-top: auto;
        }

        &__footer {
            margin-top: auto;
        }
    }
}
