.creating-adv {
    margin: 4rem 0;

    .container {
        background: #fff;
        border-radius: 1.6rem;
        line-height: 2.4rem;

        min-height: 90vh;
        overflow: hidden;

        display: flex;
        flex-direction: column;
    }

    &__empty {
        margin: auto auto;
        text-align: center;

        .creating-adv__title {
            margin-bottom: 3.2rem;

            @media (max-width: 48em) {
                font-size: 4.8rem;
                line-height: 5.6rem;
            }
        }

        .creating-adv__desc {
            margin-bottom: 4rem;
            font-size: 1.6rem;
            line-height: 2.4rem;
            max-width: 50rem;
            color: #414141;

            @media (max-width: 48em) {
                max-width: 62rem;
                font-size: 3.2rem;
                line-height: 4.8rem;
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4rem 3.2rem 0;
        margin-bottom: 1.2rem;
    }

    &__title {
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 3.6rem;
    }

    //sections

    &__sections {
        padding: 0 3.2rem;
        margin-bottom: 1.6rem;
        border-bottom: 0.1rem solid rgba(40, 130, 103, 0.2);
        display: flex;
        gap: 2.4rem;
        font-size: 1.6rem;

        @media (max-width: 48em) {
            margin-top: 4.8rem;
            margin-bottom: 2.4rem;
            padding: 0;
            width: 100%;
            border: 0.2rem solid #f1f3f3;
            border-radius: 1.6rem;
            background-color: #f1f3f3;
            justify-content: space-between;
            gap: 0;
            font-size: 2.8rem;
            color: #298267;
        }

        .swiper {
            @media (max-width: 48em) {
            }
        }
    }

    &__section {
        padding-bottom: 1rem;
        position: relative;
        white-space: nowrap;

        @media (max-width: 48em) {
            padding: 2.4rem 2rem;

            text-align: center;

            &:nth-child(2n) {
                border-right: 0.2rem solid #fff;
                border-left: 0.2rem solid #fff;
            }
        }

        &:first-child {
            @media (max-width: 48em) {
                border-radius: 1.6rem 0 0 1.6rem;
            }
        }

        &:last-child {
            @media (max-width: 48em) {
                border-radius: 0 1.6rem 1.6rem 0;
                border-right: none;
            }
        }

        &--active {
            font-weight: 600;

            @media (max-width: 48em) {
                background-color: #fff;
                font-weight: 400;
            }

            &::after {
                content: "";
                position: absolute;
                background-color: #298267;
                bottom: 0;
                right: 0;
                left: 0;
                width: 100%;
                height: 0.2rem;
                border-radius: 0.2rem 0.2rem 0 0;
                overflow: hidden;

                @media (max-width: 48em) {
                    content: none;
                }
            }
        }
    }

    &__cards {
        padding: 0 3.2rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 1.6rem;
        max-height: 80vh;

        overflow: auto;

        &::-webkit-scrollbar {
            width: 0;
        }

        @media (max-width: 48em) {
            padding: 0;
            padding-bottom: 14rem;
            padding-top: 2.4rem;
            gap: 3.2rem;
        }
    }

    &__card {
        border-radius: 0.8rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 1.6rem 1.6rem 2.4rem;

        transition: all 0.2s ease;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 0.1rem;
            background-color: rgba(40, 130, 103, 0.2);
        }

        &:hover {
            background-color: #f1f3f3;

            &::after {
                content: none;
            }
        }

        &__img {
            width: 18rem;
            height: 14rem;
            border-radius: 0.9rem;
            overflow: hidden;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        &__info {
            display: flex;
            flex: 1;
            flex-direction: column;
            gap: 2.4rem;
            font-size: 1.6rem;
        }

        &__title {
            font-size: 2rem;
            font-weight: 600;
        }

        &__edit {
            color: #298267;
        }

        &__icons {
            font-size: 1.3rem;
            line-height: 1.6rem;
            display: flex;
            gap: 1.2rem;

            span {
                display: flex;
                gap: 0.4rem;
                align-items: center;
            }

            img {
                width: 2.4rem;
                height: 2.4rem;
            }
        }
    }

    .card--published,
    .card--archive {
        .creating-adv__card {
            &__desc {
                width: 100%;
                display: flex;
            }

            &__title {
                width: 49rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-right: 6.7rem;
            }

            &__price {
                margin-right: 11.7rem;
            }
        }
    }

    .btn--post-ad {
        background-color: #298267;
        border-radius: 200rem;
        color: #fff;
        text-align: center;
        padding: 1.4rem 4rem;
        font-size: 1.6rem;
        width: 27.1rem;
    }
}

//Mobile

@media (max-width: 48em) {
    body {
        overflow-y: hidden;
    }

    .creating-adv {
        margin: 0;

        .container {
            line-height: 4.8rem;
            max-height: unset;
        }

        .btn--post-ad {
            width: 100%;
            font-size: 3.2rem;
            padding: 2.4rem 15.2rem;
            border-radius: 400rem;
        }

        &__header {
            order: 3;
            padding: 4.8rem 3.2rem;
            margin-bottom: 0;
            margin-top: auto;
            justify-content: center;

            position: fixed;
            bottom: 0;
            right: 0;
            left: 0;
            border-top: 0.2rem solid #f1f3f3;
            background-color: #fff;
            z-index: 100;
        }

        &__card {
            align-items: start;
            gap: 3.2rem;
            padding: 0;

            &:hover {
                background-color: inherit;
            }

            &::after {
                content: none;
            }

            &__img {
                width: 29.6rem;
                height: 23.2rem;
                border-radius: 1.6rem;
            }

            &__info {
                flex-direction: row;
                justify-content: space-between;
                align-items: start;

                position: relative;
            }

            &__desc {
                max-width: 35.8rem;
                font-size: 2.6rem;
                font-weight: 400;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 3.2rem;
            }

            &__title {
                font-size: 2.6rem;
                font-weight: 400;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 29.4rem;

                margin-bottom: 1.6rem;
            }

            &__location {
                margin-bottom: 2.4rem;
                color: #7e8582;
            }

            &__edit {
                a {
                    display: none;
                }

                .btn--edit {
                    position: absolute;
                    top: 0;
                    right: 0;

                    width: 4.8rem;
                    height: 4.8rem;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }

        .card--published,
        .card--archive {
            .creating-adv__card {
                &__desc {
                    display: flex;
                    flex-direction: column;
                }

                &__info {
                    gap: 0;
                }

                &__title {
                    width: unset;
                    margin-right: unset;
                }

                &__price {
                    margin-bottom: 2.4rem;
                    margin-right: 0;
                }

                &__icons {
                    font-size: 2.6rem;
                    line-height: 3.2rem;
                    gap: 2.4rem;

                    span {
                        gap: 0.8rem;
                    }

                    img {
                        width: 4.8rem;
                        height: 4.8rem;
                    }
                }
            }
        }

        .card--published {
            .btn--edit {
                display: none;
            }

            .creating-adv__card__title {
                max-width: unset;
            }
        }
    }
}
