.main-page {
    .container {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        width: 90rem;
        padding: 4rem 3.2rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        border-radius: 1.6rem;
        background: #FFF;
    }
    &__title {
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 112.5%;
    }
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        width: 19.4rem;

        &-img {
            width: 100%;
            height: 14.8rem;
            margin-bottom: 2rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-contain {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.4rem;

            svg {
                width: 2.4rem;
                height: 2.4rem;
                cursor: pointer;
            }
        }
        &-name {
            width: 15.5rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
        &-city {
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            margin-bottom: 2.4rem;
            color: #7E8582;
        }
        &-cost {
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            margin-top: auto;
        }
    }
    &__right {
        width: 44rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__advertisement-small {
        width: 100%;
        height: 25.4rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__advertisement-big {
        width: 100%;
        height: 47.2rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}