<div class="modal profile-modal change-password-modal">
    <div class="modal-back"></div>
    <div class="modal-wrapper">
        <div class="profile-modal-top-mobile">
            <div class="profile-modal-content__logo mobile">
                <img src="./assets/images/logo.svg" alt="Logo" />
            </div>
            <div class="modal-exit">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M8 8L16 16" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M16 8L8 16" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>

        <div class="modal-content profile-modal-content">
            <div class="profile-modal-content__title desktop">Изменение пароля</div>

            <div class="profile-modal-content">
                <form class="profile-modal-content__form" id="changeEmailForm">
                    <div class="input-wrapper">
                        <input type="text" class="profile-modal-content__input" id="changePasswordCurrentInput" required />
                        <span>Текущий пароль</span>
                    </div>

                    <div class="input-wrapper">
                        <input type="text" class="profile-modal-content__input" id="changePasswordNewInput" required />
                        <span>Новый пароль</span>
                    </div>

                    <div class="input-wrapper">
                        <input type="text" class="profile-modal-content__input" id="changePasswordRepeatNewInput" required />
                        <span>Повторите новый пароль</span>
                    </div>
                </form>
            </div>

            <button class="btn btn--change-password" disabled type="submit" id="changePasswordButton">Изменить</button>
        </div>
    </div>
</div>
