<!-- login modal -->
<div class="auth-modal-placeholder">
    <div class="modal login-modal auth-modal">
        <div class="modal-back"></div>
        <div class="modal-wrapper">
            <div class="auth-modal-top-mobile">
                <div class="auth-modal-content__logo mobile">
                    <img src="./assets/images/logo.svg" alt="Logo" />
                </div>
                <div class="modal-exit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M8 8L16 16" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M16 8L8 16" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </div>

            <div class="modal-content auth-modal-content">
                <div class="auth-modal-content__title desktop">Вход</div>

                <div class="auth-modal-content__desc">Войдите, чтобы просматривать информацию в профиле</div>

                <div class="auth-modal-content__switchers">
                    <button class="switcher-form switcher-form--auth switcher-form--active" data-switcher="EmailLogin">Email</button>
                    <button class="switcher-form switcher-form--auth" data-switcher="PhoneLogin">Телефон</button>
                </div>

                <div class="auth-modal-content__switcher-container">
                    <div class="switcher-content switcher-content--auth switcher-content--active" data-inputs="EmailLogin">
                        <form class="auth-modal-content__form" id="loginByEmailForm">
                            <div class="input-wrapper">
                                <input type="text" class="auth-modal-content__input" id="emailLoginInput" required />
                                <span>Email</span>
                            </div>
                            <div class="input-wrapper">
                                <input type="password" class="auth-modal-content__input" required />
                                <span>Пароль</span>
                            </div>
                        </form>
                    </div>

                    <div class="switcher-content switcher-content--auth" data-inputs="PhoneLogin">
                        <form class="auth-modal-content__form" id="loginByPhoneForm">
                            <div class="input-wrapper">
                                <input type="tel" class="auth-modal-content__input" id="phoneLoginInput" required />
                                <span>Телефон</span>
                            </div>
                            <div class="input-wrapper">
                                <input type="password" class="auth-modal-content__input" required />
                                <span>Пароль</span>
                            </div>
                        </form>
                    </div>
                </div>
                <a href="#!" data-modal="reset-password-modal" class="auth-modal-content__forgot-pwd">Забыли пароль?</a>
                <button class="btn btn__green" disabled type="submit" id="loginButton">Войти</button>
                <div class="auth-modal-content__registration">
                    <span>В первый раз здесь? </span>
                    <a href="#!" data-modal="signup-modal">Зарегистрируйтесь</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- sign up modal -->
<div class="auth-modal-placeholder">
    <div class="modal signup-modal auth-modal">
        <div class="modal-back"></div>
        <div class="modal-wrapper">
            <div class="auth-modal-top-mobile">
                <div class="auth-modal-content__logo mobile">
                    <img src="./assets/images/logo.svg" alt="Logo" />
                </div>
                <div class="modal-exit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M8 8L16 16" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M16 8L8 16" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </div>

            <div class="modal-content auth-modal-content">
                <div class="auth-modal-content__title desktop">Регистрация</div>

                <div class="auth-modal-content__desc" id="signupInfo">Создайте аккаунт, чтобы пользоваться всеми возможностями сервиса</div>

                <div class="auth-modal-content__switchers">
                    <button class="switcher-form switcher-form--signup switcher-form--active" data-switcher="emailReg">Email</button>
                    <button class="switcher-form switcher-form--signup" data-switcher="phoneReg">Телефон</button>
                </div>

                <div class="auth-modal-content__switcher-container">
                    <div class="switcher-content switcher-content--signup switcher-content--active" data-inputs="emailReg">
                        <form class="auth-modal-content__form" id="signupByEmailForm">
                            <div class="input-wrapper">
                                <input type="text" class="auth-modal-content__input" id="emailInput" required />
                                <span>Email</span>
                            </div>

                            <div class="input-wrapper code-input">
                                <input type="password" class="auth-modal-content__input" id="emailRegCode" required />
                                <span>Код</span>
                            </div>
                        </form>
                    </div>

                    <div class="switcher-content switcher-content--signup" data-inputs="phoneReg">
                        <form class="auth-modal-content__form" id="signupByPhoneForm">
                            <div class="input-wrapper">
                                <input type="tel" class="auth-modal-content__input" id="phoneInput" required />
                                <span>Телефон</span>
                            </div>

                            <div class="input-wrapper code-input">
                                <input type="password" class="auth-modal-content__input" id="phoneRegCode" required />
                                <span>Код</span>
                            </div>
                        </form>
                    </div>

                    <div class="switcher-content switcher-content--signup" data-inputs="createPassword">
                        <form class="auth-modal-content__form" id="createPasswordForm">
                            <div class="input-wrapper">
                                <input type="password" class="auth-modal-content__input" id="passwordInput" required />
                                <span>Пароль</span>
                            </div>

                            <div class="input-wrapper">
                                <input type="password" class="auth-modal-content__input" id="repeatPasswordInput" required />
                                <span>Повторите пароль</span>
                            </div>
                        </form>
                    </div>

                    <div class="switcher-content switcher-content--signup" data-inputs="fillingUserData">
                        <form class="auth-modal-content__form" id="fillingUserDataForm">
                            <div class="input-wrapper">
                                <input type="text" class="auth-modal-content__input" id="nameInput" required />
                                <span>Имя</span>
                            </div>

                            <div class="input-wrapper">
                                <input type="text" class="auth-modal-content__input" id="surnameInput" required />
                                <span>Фамилия</span>
                            </div>

                            <div class="input-wrapper" id="cityInputWrapper">
                                <input type="text" class="auth-modal-content__input" id="cityInput" required />
                                <span>Город</span>
                                <ul class="city-list"></ul>
                            </div>

                            <div class="input-wrapper" id="newPhoneInputWrapper">
                                <input type="tel" class="auth-modal-content__input" id="newPhoneInput" required />
                                <span>Телефон</span>
                            </div>

                            <div class="input-wrapper" id="newEmailInputWrapper">
                                <input type="text" class="auth-modal-content__input" id="newEmailInput" required />
                                <span>Email</span>
                            </div>

                            <div class="auth-modal-content__agr">Авторизуясь на сайте, я принимаю условия пользовательского соглашения...</div>
                        </form>
                    </div>
                </div>
                <button class="btn btn__green" disabled type="submit" id="continueRegButton">Продолжить</button>
                <button class="btn btn__green" disabled type="submit" id="confirmCodeButton">Продолжить2</button>
                <button class="btn btn__green" disabled type="submit" id="confirmPasswordButton">Продолжить3</button>
                <button class="btn btn__green" disabled type="submit" id="signUpButton">Зарегистрироваться</button>

                <div class="auth-modal-content__registration">
                    <span>Уже есть аккаунт? </span>
                    <a href="#!" data-modal="login-modal">Войдите</a>
                </div>
                <div class="auth-modal-content__send-code-again">Отправить код повторно</div>
            </div>
        </div>
    </div>
</div>

<!-- reset password modal -->
<div class="auth-modal-placeholder">
    <div class="modal auth-modal reset-password-modal">
        <div class="modal-back"></div>
        <div class="modal-wrapper">
            <div class="auth-modal-top-mobile">
                <div class="auth-modal-content__logo mobile">
                    <img src="./assets/images/logo.svg" alt="Logo" />
                </div>
                <div class="modal-exit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M8 8L16 16" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M16 8L8 16" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
    
            <div class="modal-content auth-modal-content">
                <div class="auth-modal-content__title desktop">Восстановление пароля</div>
    
                <div class="auth-modal-content__desc">Введите свой номер или почту и мы отправим вам код для восстановления пароля</div>
    
                <div class="auth-modal-content__switcher-container">
                    <div class="switcher-content switcher-content--reset-password" data-inputs="resetPassword">
                        <form class="auth-modal-content__form" id="resetPasswordForm">
                            <div class="input-wrapper">
                                <input type="text" class="auth-modal-content__input" id="phoneOrEmail" required />
                                <span>Номер телефона или email</span>
                            </div>
    
                            <div class="reset-password-hint">Введите код</div>
    
                            <div class="input-wrapper code-input">
                                <input type="password" class="auth-modal-content__input" id="resetPasswordCode" required />
                                <span>Код</span>
                            </div>
                        </form>
                    </div>
    
                    <div class="switcher-content switcher-content--reset-password" data-inputs="createNewPassword">
                        <form class="auth-modal-content__form" id="createNewPasswordForm">
                            <div class="input-wrapper">
                                <input type="password" class="auth-modal-content__input" id="newPasswordInput" required />
                                <span>Новый пароль</span>
                            </div>
    
                            <div class="input-wrapper">
                                <input type="password" class="auth-modal-content__input" id="repeatNewPasswordInput" required />
                                <span>Повторите новый пароль</span>
                            </div>
                        </form>
                    </div>
                </div>
    
                <button class="btn btn__green" disabled type="submit" id="sendCodeButton">Отправить код</button>
                <button class="btn btn__green" disabled type="submit" id="resetButton">Восстановить</button>
                <button class="btn btn__green" disabled type="submit" id="saveButton">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="footer--desktop desktop">
            <a class="footer--desktop__logo"><img src="./assets//images/logo.svg" alt="Logo" /></a>
            <div class="footer--desktop__info">
                <a href="#!" class="footer--desktop__info__item">email@chasi.ru</a>
                <a href="#!" class="footer--desktop__info__item">Политика конфиденциальности</a>
                <a href="#!" class="footer--desktop__info__item">Правила пользования сайтом</a>
                <div data-modal="login-modal" class="footer-desktop__info__item">©2023</div>
            </div>
            <div class="footer--desktop__apps">
                <a href="#!" class="footer--desktop__app">
                    <img src="./assets/images/google-play.webp" alt="Google Play" />
                </a>
                <a href="#!" class="footer--desktop__app">
                    <img src="./assets/images/app-store.webp" alt="App Store" />
                </a>
            </div>
        </div>

        <div class="footer--mobile mobile">
            <a class="footer--mobile__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M21.864 7.63604C25.3787 11.1508 25.3787 16.8492 21.864 20.364C18.3492 23.8787 12.6508 23.8787 9.13604 20.364C5.62132 16.8492 5.62132 11.1508 9.13604 7.63604C12.6508 4.12132 18.3492 4.12132 21.864 7.63604Z"
                        fill="#031E16"
                    />
                    <path
                        d="M21.864 7.63604C25.3787 11.1508 25.3787 16.8492 21.864 20.364C18.3492 23.8787 12.6508 23.8787 9.13604 20.364C5.62132 16.8492 5.62132 11.1508 9.13604 7.63604C12.6508 4.12132 18.3492 4.12132 21.864 7.63604"
                        stroke="#031E16"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path d="M26.5 26L21.5 21" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span>Поиск</span>
            </a>
            <a class="footer--mobile__icon">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M16 7.28133C16.9187 6.20667 18.508 5 20.928 5C25.16 5 28 8.97333 28 12.6733C28 20.408 18.3707 26.3333 16 26.3333C13.6293 26.3333 4 20.408 4 12.6733C4 8.97333 6.84 5 11.072 5C13.492 5 15.0813 6.20667 16 7.28133Z"
                        stroke="#031E16"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
                <span>Избранное</span>
            </a>
            <a class="footer--mobile__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M16 26.375V26.375C9.99337 26.375 5.125 21.5066 5.125 15.5V15.5C5.125 9.49337 9.99337 4.625 16 4.625V4.625C22.0066 4.625 26.875 9.49337 26.875 15.5V15.5C26.875 21.5066 22.0066 26.375 16 26.375Z"
                        stroke="#031E16"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path d="M15.9987 10.667V20.3337" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M20.8346 15.5H11.168" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span>Объявления</span>
            </a>
            <a class="footer--mobile__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                    <path d="M11.3267 26.6667H16.5" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M11.5185 26.667H7.06651C5.96918 26.667 5.41985 25.3403 6.19585 24.5656L7.64918 23.1123"
                        stroke="#031E16"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M5.8335 15.9997C5.8335 10.109 10.6095 5.33301 16.5002 5.33301C22.3908 5.33301 27.1668 10.109 27.1668 15.9997C27.1668 21.8903 22.3908 26.6663 16.5002 26.6663"
                        stroke="#031E16"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path d="M8.1399 22.6134L7.64656 23.1067" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M8.14416 22.6173C6.7015 20.7987 5.8335 18.5027 5.8335 16" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span>Сообщения</span>
            </a>
            <a class="footer--mobile__icon" data-modal="auth-modal">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path
                        d="M23.6898 7.81022C27.9367 12.0572 27.9367 18.9428 23.6898 23.1898C19.4428 27.4367 12.5571 27.4367 8.31022 23.1898C4.06326 18.9428 4.06326 12.0571 8.31022 7.81022C12.5572 3.56326 19.4428 3.56326 23.6898 7.81022"
                        stroke="#031E16"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M18.4041 11.0581C19.7315 12.3855 19.7315 14.5376 18.4041 15.865C17.0767 17.1924 14.9245 17.1924 13.5971 15.865C12.2697 14.5376 12.2697 12.3855 13.5971 11.0581C14.9245 9.73065 17.0767 9.73065 18.4041 11.0581"
                        stroke="#031E16"
                        stroke-width="1.35938"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M22.8935 23.9076C21.1595 22.0818 18.7139 20.9375 15.9975 20.9375C13.2812 20.9375 10.8355 22.0818 9.10156 23.9088"
                        stroke="#031E16"
                        stroke-width="1.35938"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
                <span>Профиль</span>
            </a>
        </div>
    </div>
</footer>
