.swiper-horizontal > .swiper-pagination-bullets.pagination__slides {
  display: flex;
  gap: 1.1rem;
  .swiper-pagination-bullet {
    width: 100%;
    margin: 0;
    height: 0.184rem;
    border-radius: 0.184rem;
    flex: 1;
    background: #F1F3F3;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      background: #031E16;
    }
  }
}
.swiper-pagination-bullets.pagination__slides {
  display: flex;
  gap: 1.1rem;
  .swiper-pagination-bullet {
    width: 100%;
    margin: 0;
    height: 0.184rem;
    border-radius: 0.184rem;
    flex: 1;
    background: #F1F3F3;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      background: #031E16;
    }
  }
}
.like {
  cursor: pointer;

  // &:hover {
  //   path {
  //     fill: #298267;
  //     stroke-width: 0;
  //   }
  // }

  &_liked {
    path {
      fill: #298267;
      stroke-width: 0;
    }
  }
}
body {
	&.lock {
		overflow: hidden;
		touch-action: none;
	}
}
.btn {
  &__green {
    padding: 1.7rem 4rem;
    border-radius: 200rem;
    background: #298267;
    color: #FFF;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    cursor: pointer;

    &[disabled] {
      background: #F1F3F3;
      color: #7E8582;
      cursor: initial;
    }
  }
  &__grey {
    padding: 1.7rem 4rem;
    border-radius: 200rem;
    background: #F1F3F3;
    color: #298267;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    cursor: pointer;
  }
}
.pop-up {
  display: flex;
  position: fixed;
  bottom: -100rem;
  right: 2.4rem;
  padding: 1.6rem;
  border-radius: 1.6rem;
  gap: 1.2rem;
  background: #031E16;
  text-align: center;
  transition: bottom 0.5s ease-in-out;

  &.showed {
    bottom: 2.4rem;
  }

  &__text {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #FFF;
  }

  svg {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
  }
}

@media (max-width: 48em) {
  .swiper-horizontal > .swiper-pagination-bullets.pagination__slides {
    display: flex;
    gap: 2.4rem;
    .swiper-pagination-bullet {
      width: 100%;
      margin: 0;
      height: 0.4rem;
      border-radius: 0.4rem;
      flex: 1;
      background: #F1F3F3;
      opacity: 1;
  
      &.swiper-pagination-bullet-active {
        background: #031E16;
      }
    }
  }
  .swiper-pagination-bullets.pagination__slides {
    display: flex;
    gap: 2.4rem;
    .swiper-pagination-bullet {
      width: 100%;
      margin: 0;
      height: 0.4rem;
      border-radius: 0.4rem;
      flex: 1;
      background: #F1F3F3;
      opacity: 1;
  
      &.swiper-pagination-bullet-active {
        background: #031E16;
      }
    }
  }
  
  .btn {
    &__green {
      padding: 2.4rem;
      font-size: 3.2rem;
      width: 100%;
      text-align: center;
    }
    &__grey {
      padding: 2.4rem;
      font-size: 3.2rem;
      width: 100%;
      text-align: center;
    }
  }
  .pop-up {
    bottom: auto;
    top: -100%;
    width: 100%;
    right: 0;
    border-radius: 0 0 4.8rem 4.8rem;
    padding: 12.8rem 3.2rem 4rem;
    gap: 0;
    justify-content: space-between;
    transition: top 0.5s ease-in-out;
  
    &.showed {
      bottom: auto;
      top: 0%;
    }
  
    &__text {
      font-size: 3.2rem;
    }
  
    svg {
      width: 4.8rem;
      height: 4.8rem;
      cursor: pointer;
    }
  }
}


@media (min-width: 48.01em) {
	.mobile {
		display: none;
	}
}

@media (max-width: 48em) {
	.desktop {
		display: none;
	}
}

